.group-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 272px)/repeat(auto-fill, 272px);
    grid-auto-flow: column;
    // grid-auto-flow: column dense;

    
    .group-wrapper {
        width: 272px;
        // height: fit-content;
        background-color: #ebecf0;
        border-radius: 3px;
        // margin: 5px;
        display: flex;
        flex-direction: column;

        .group-top {
            height: 40px;
            padding: 10px 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            font-family: 'Segoe UI';
            margin: 0 0 8px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }


        
        .group-bottom {
            height: 38px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add-card {
            width: 212px;
            height: 28px;
            padding: 4px 8px;
            margin: 2px 0 8px 8px;
            border-radius: 3px;
            border: none;
            text-align: left;
            background-color: unset;
            }

            .add-card:hover{
                background-color:#dadbe2;
                color: #42526e;
            }
        }

        button {
            color: black;
        }
    }
}