.homepage-header {
    height: 60px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var($hh-bg1);

    .homepage-header-logo {
        display: flex;
        align-items: center;

        padding: 10px;

        img {
            height: 1.4rem;
            padding: 0px 2px;
        }

        h1 {
            font-size: 2rem;
            color: $hh-txt1;
        }
    }

    &.homepage-header-logo:active {
        color: $hh-txt1;
    }

    nav {
        button {
            font-family: charlie-semibold;
            font-size: 1.1rem;
            height: 60px;
            padding: 0px 20px;
            border: none;
            color: $hh-txt1;

            &.login-btn {
                background-color: transparent;
                color: $hh-txt1;
            }

            &.singup-btn {
                background-color: $hh-bg2;
                color: $hh-txt2;
            }
        }

    }
}