.task-preview {
    padding: 6px 8px;
    overflow: hidden;
    margin: 4px 3px;
    min-height: 40px;
    max-width: 100%;
    position: relative;
    background-color: $t-bg3;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
    font-family: segoe_ui;
    font-size: 14px;
    white-space: normal;

    cursor: pointer;

    li {
        float: left;
    }

    p {
        margin-block: 0;
    }

    .task-preview-actions {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        .task-preview-description-icon {
            margin-top: 6px;
            width: 18px;
        }

        .task-member-container {
            float: right;

            .member {
                margin-inline-start: 3px;
            }
        }
    }

    .task-label-container {
        display: inline-block;


        .label {
            margin: 4px 0;
            padding-right: 0;
            padding-left: 0;
            width: 40px;
            height: 8px;
            // background-color: #ffaf3f;
            color: transparent;
            border: none;
            border-radius: 4px;
            margin-inline-end: 3px;
        }



        .label:hover,
        .label:focus {
            // background-color: #D09648;
        }
    }

    .task-title {
        word-wrap: break-word;
        clear: both;
        color: $t-txt1;
        display: block;
        // margin: 0 0 4px;
        overflow: hidden;
    }

    .edit-btn {
        border: none;
        background-color: transparent;

        display: block;
        position: absolute;
        top: 0px;
        right: 0px;

        align-items: center;
        justify-content: center;

        font-family: segoe_ui;
        margin: 4px;
        padding: 3px;
        border-radius: 3px;

        svg {
            height: 16px;
            width: 16px;
            border-radius: 3px;
            border: 0;
            align-items: center;
            background-color: transparent;
            margin: 0 4px;
            white-space: nowrap;

            path {
                fill: $t-txt3;
            }
        }
    }

    .edit-btn:hover {
        background-color: #83818136;
    }


    &:hover {
        background-color: $t-hover2;
    }
}