.board {
    background-color: $b-txt3;
    color: $b-txt1;
    height: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 18px;
        line-height: 32px;
        padding: 0 12px;
    }

    .board-main-content {
        // scroll-behavior: auto;
        overflow-x: scroll;
        padding-left: 16px;
        flex-grow: 1;
        // height: 100%;
        max-height: calc(100vh - 100px);

    }

    .board-top-menu {
        // margin: 5px;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 8px 4px 4px 12px;
        padding-left: 32px;

        button {
            color: $b-txt1;
            border-radius: 3px;
            border: none;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            max-width: 400px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
        }

        ;

        span {
            border-left: 1px solid $b-txt1;
            float: left;
            height: 16px;
            margin: 0 8px;
        }
    }

}