.home-page {
    font-family: charlie-regular;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .bg-gradient-hero {
        display: block;
        height: fit-content;
        
        color: $h-txt1;
        background: url(//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg) center
                bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box,
            linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box
                border-box rgb(82, 67, 170);
        background-blend-mode: normal;


        .hero-secrion {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }

        .text {
            display: block;
            position: relative;
            width: 50%;
            scroll-margin-top: 72px;

            text-align: left;

            h1 {
                font-family: charlie-semibold;
                font-size: 3rem;
                line-height: 1.25;
            }

            p {
                font-size: 1.3rem;
                margin-bottom: 1.5rem;
                margin-top: 0px;
            }

            button {
                border-radius: 0.3rem;
                border: none;
                padding: 0.7rem 1rem 0.8rem;

                font-family: charlie-regular;
                background-color: $h-btn1;
                color: $h-txt1;
                transition: all 250ms ease-out 0s;
            }

            button:hover, button:focus {
                background-color: $h-btn2;
                text-decoration: none;
            }

            a {
                color: $h-txt1;
            }
        }

        .img {
            padding: 1rem;
            position: relative;
            scroll-margin-top: 72px;
            margin-left: -16.6667%;
            left: 16.6667%;
            display: block;
            width: 58.3333%;
            padding-bottom: 0px;

            img {
                position: relative;
                top: 3rem;
                right: -3rem;
                vertical-align: middle;
            }
        }
    }

    .bg-gradient-101 {
        display: block;
        height: fit-content;
        color: $h-txt2;

        background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
        background-blend-mode: normal;

        .prod-section {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
        }

        h5 {
            font-weight: 500;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 1.25;
            text-transform: uppercase;
            font-family: charlie-regular;
        }

        h2 {
            font-size: 2.25rem;
            line-height: 1.33333;
            padding-bottom: 1rem;
            font-family: charlie-semibold;
        }

        p {
            padding: 0px;
        }

        img {
            padding: 0px 160px;
            padding-bottom: 20px;
        }
    }
}