.task-details-section {
    font-family: segoe_ui;
    background-color: $t-bg1;
    width: 768px;
    height: 901px;
    margin: auto;
    display: grid;
    grid-template-columns: 16px 3fr 1fr 16px;

    .task-details-container {
        grid-column: 2;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 65px 144px 108px 1fr;
        padding-top: 20px;

        // grid-area: "sidebar main main main"

    }

    .side-bar-menu {
        grid-column: 3;
    }

    .task-title-container {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .title-icon {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .small-headline {
        font-size: 12px;
        color: $t-txt2;
        color: #748195;
        font-family: segoe_ui;
        width: fit-content;
        @include margin-titles-task
    }

    .medium-headline {
        font-size: 16px;
        color: $t-txt1;
        margin: 0;
        font-family: segoe_ui;
        font-weight: bold;
    }

    textarea,
    input {
        font-family: inherit;
        resize: none;
        background-color: inherit;
        border: none;
        border-radius: 2px;
        margin: 0px;
        padding: 5px;

        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: none;
            box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
            background-color: $t-bg3;
        }
    }

    .title {
        line-height: 24px;
        font-size: 20px;
        height: 35px;
        width: 618px;
        font-family: charlie-regular;
        color: $t-txt3;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .description {
        height: 40px;
        width: 448px;


        &:focus {
            height: 108px;
        }
    }

    p {
        font-size: 14px;
        color: $t-txt3;
        margin: 0;

        span {
            text-decoration: underline;
        }
    }

    .task-members-container {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .members-list {
        .member {
            cursor: pointer;
        }
    }

    .add-member {
        background-color: rgba(9, 30, 66, 0.039);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: rgba(9, 30, 66, 0.08)
        }

        .add-member-icon {
            width: 14px;
            height: 14px;
            // color: $pls-clr;
            // color: #8791a3;
            margin: auto;
            color: #0055ff;
            // color: #9da5b5;
        }

    }

    .description-icon {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .task-description-input {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    li {
        float: left;
    }

    .icon,
    img {
        width: 32px;
        height: 32px;
    }

    .icon {
        padding: 4px;
    }

}