.task-details {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;
    // overflow: auto;
}

.task-details-section {
    left: 50%;
    transform: translate(-50%);
    z-index: 40;
    font-family: segoe_ui;
    background-color: $t-bg1;
    border-radius: 2px;
    width: 768px;
    // height: 901px;
    margin-inline: auto;
    margin-block: 40px 80px;
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    position: absolute;
    padding-bottom: 32px;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: $t-txt1;



    .task-details-main-section {
        grid-column: 2;
        display: grid;
        grid-template-rows: 84.5px 1fr;


        .task-title-container {
            grid-row: 1/2;
        }

        .task-details-container {
            grid-row: 2/3;
        }

    }

    .task-details-container {
        display: grid;
        grid-template-columns: 1fr 176px;
        // gap: 16px;

        .task-details-edit-section {
            grid-column: 1/2;
        }

        .side-bar-menu {
            grid-column: 2/3;
        }
    }

    .task-details-edit-section {
        display: grid;
        grid-template-rows: repeat(4, minmax(0, max-content));
        gap: 17px;
        margin-inline-end: 20px;
    }

    textarea,
    input {
        font-family: inherit;
        resize: none;
        background-color: inherit;
        border: none;
        border-radius: 3px;
        margin: 0px;

        color: $t-txt1;
        letter-spacing: 0.03em;

        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: none;
            box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
            background-color: $t-bg3;
        }
    }
}

.btn-task-exit {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    display: flex;
    color: #42526e;
    padding: 4px;
    // margin: 4px;

    &:hover {
        background-color: $t-hover3;

    }

    .exit-icon {
        width: 20px;
        height: 20px;
        line-height: 32px;
        padding: 0;
        margin: auto;
        font-size: 14px;
    }
}

.small-headline {
    font-size: 12px;
    color: #66748b;
    font-family: segoe_ui;
    letter-spacing: 0.04em;
    width: fit-content;

    @include margin-titles-task
}

.medium-headline {
    font-size: 16px;
    color: #2d3f5d;
    margin: 0;
    font-family: segoe_ui;
    font-weight: bold;
    letter-spacing: 0.03em;
}


.btn-task-details {
    padding-inline: 12px;
    padding-block: 6px;
    color: $t-txt1;
    background-color: $t-bg5;
    border-radius: 3px;

    &:hover {
        background-color: $t-hover3;
    }
}

.task-details-edit-item {
    display: flex;
    padding-inline-start: 40px;
}

.icon-task {
    width: 32px;
    height: 32px;
}