.cmp-dynamoic-option-labels {
    width: 212px;
    border-radius: 3px;

    .color-circle {
        margin-inline-end: 10px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-block: 8px;
    }
}