* {
    box-sizing: border-box;
}

html {
    padding: 0;
        margin: 0;
}
    

body {
    font-size: rem(18px);
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: charlie-bold;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}