.task-title-container {
    display: grid;
    grid-template-columns: 33px 1fr;
    padding-top: 19px;
    padding-bottom: 8px;
    padding-inline-end: 40px;


    .title-icon {
        width: 26px;
        height: 28px;
        margin-inline-start: 3px;
        margin-block-start: 3px;

    }


    .task-details-title {
        line-height: 24px;
        font-size: 20px;
        height: 35px;
        width: 670px;
        font-family: San_francisco_medium;
        padding: 0 0 0 5px;
        letter-spacing: 0.035em;
    }

    p {
        font-family: San_francisco_light;
        color: $t-txt2;
        margin: 0;
        padding-inline-start: 10px;
        letter-spacing: 0.04em;
        line-height: 10px;
        font-size: 14px;
        padding-block-start: 3px;


        a {
            color: inherit;
            text-decoration: underline;
            letter-spacing: 0.045em;

            &:hover {
                color: $t-txt1;
            }

        }

        .eye-icon {
            margin-inline-start: 12px;
            margin-block-start: -3px;
            position: absolute;
            font-size: 16px;
            line-height: 10px;
        }

    }
}