.task-members-container {
    padding-inline-start: 40px;
    margin-top: 4px;

    .members-list {
        .member-img {
            cursor: pointer;
            margin-inline-end: 4px;
            width: 34px;
            height: 34px;
        }
    }

    .add-members {
        background-color: $t-bg5;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: $t-hover3;
        }

        .add-members-icon {
            // color: $t-pls-clr;
            color: #6b7485;
            margin: auto;
            font-size: 18px;

        }

    }

    li {
        float: left;
    }
}