.task-description-container {
    display: grid;
    grid-template-columns: 40px 1fr;
    // margin-top: ;

    .description-icon {
        padding-inline-start: 3px;
        padding-block-start: 3px;
    }

    .task-description-title {
        margin-bottom: 14px;
        display: inline-block;
    }

    .btn-description-edit-container {
        display: inline-block;
    }

    .btn-description-edit {
        display: block;
        width: 47.46px;
        margin-inline-start: 5.5px;
        display: none;

        .task-description-textarea:focus+.btn-description-edit {}

    }



    .task-description-textarea {
        height: 56px;
        width: 512px;
        padding-inline: 12px;
        padding-block: 12px;
        font-family: San_francisco_light;
        background-color: $t-bg5;
        margin-inline-start: 40px;
        letter-spacing: 0.07em;

        &:hover {
            background-color: $t-hover3;
            cursor: pointer;
        }

        &:focus {
            height: 108px;
            background-color: $clr6;


            &:hover {
                background-color: none;
            }
        }

    }

    // .task-description-textarea:focus+.btn-description-edit {
    //     opacity: 0;
    // }


    .task-description-textarea:focus+.task-description-btn {
        display: block;
    }


    .task-description-btn {
        margin-inline-start: 40px;
        margin-block-start: 8px;
        display: none;
    }

    .btn-description-save {
        background-color: $t-btn-bgc;
        color: $clr6;
        margin-inline-end: 4px;
        width: 52.6px;


        &:hover {
            background-color: #026aa7;
        }
    }

    .btn-description-cancel {
        background-color: initial;
        width: 64.9px;


        &:hover {
            background-color: $t-hover3;
        }
    }


    .btn-description-save,
    .btn-description-cancel,
    .btn-description-edit {
        height: 32px;

    }


}