.task-cmp-dynamoic {
    position: fixed;
    margin-top: 38px;
    z-index: 1000;

    .task-cmp-dynamoic-container {
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px, #091e4214;
        overflow: hidden;
        width: 304px;
        z-index: 70;

        .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: #5e6c84;
        }

        .cmp-dynamoic-title {
            text-align: center;
            border-bottom: 1px solid #091e4221;
            box-sizing: border-box;
            color: #5e6c84;
            display: block;
            line-height: 40px;
            margin: 0 12px;
            padding: 0 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: capitalize;
            cursor: default;
        }

        .dynamic-container {
            padding: 12px;

            .cmp-dynamoic-input {
                background-color: #fafbfc;
                width: 100%;
                border: none;
                border-radius: 3px;
                box-shadow: inset 0 0 0 2px #dfe1e6;
                display: block;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 10px;
                // letter-spacing: 0.08rem;

                &::placeholder {
                    color: $t-txt2;
                    font-family: San_francisco_light;
                }

                &:focus {
                    box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
                }
            }

            .cmp-dynamoic-option {
                display: flex;
                margin-block: 9px;
                align-items: center;
                padding-inline-start: 5px;

            }

            .cmp-dynamoic-options-title {
                padding-top: 1px;
                margin-block-end: 7px;

            }


        }
    }
}