.task-checklists-preview-section {}

.task-checklists-preview-container {

    .checklists-icon-container {
        padding-block-start: 6px;
        padding-inline-start: 8px;
        align-self: flex-start;
    }

    .checklists-icon {
        width: 19.5px;
        height: 19.5px;
        justify-self: center;
    }
}

.task-checklist-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-checklist-preview-header-icon-and-title {
    display: flex;
    align-items: center;
}

.task-checklist-preview-title-container {

    margin-inline-start: 15px;
    font-size: 12px;
    flex-grow: 1;

    .task-checklist-title-input {
        background-color: $t-bg5;
        box-shadow: rgba(9, 30, 66, 0.13) 0px 0px 0px 1px inset;
        padding: 8px 12px;
        width: 512px;
        height: 54px;


        &:focus {
            box-shadow: rgba(9, 30, 66, 0.13) 0px 0px 0px 1px inset;
            background-color: $t-bg5;
        }
    }
}

.task-checklist-btn {
    display: flex;
    align-items: center;
}

.btn-checklist-save {
    background-color: $t-btn-bgc;
    color: $clr6;
    margin-inline-end: 4px;
    width: 52px;
    height: 32px;
    font-size: 14px;
    padding: 4px 12px 6px;


    &:hover {
        background-color: #026aa7;
    }
}


.btn-checklist-cancel-container {
    // width: 52px;
    // height: 32px;
    // margin-block-start: 4px;

    .btn-checklist-cancel {
        width: 18px;
        height: 18px;
        color: #42526e;
        vertical-align: bottom;

        path {
            stroke: #42526e;
            stroke-width: 10%;
        }
    }
}